<center>
	<table style="width: 500px; color: #707070; font-size: 16px; line-height: 1.8rem;">
		<tbody>
			<tr>
				<td>
                    Hi!
                    <br>
                    <br>
                    {{name}}					
				</td>
			</tr>
			<tr>
				<td>
					<br>
					You have successfully register at Authentium
				</td>
            </tr>
            <tr>
                <td>
                    <br>
                    Regards
                    <br>
                    <br>
                    -Authentium Team
                </td>
            </tr>
		</tbody>
	</table>
</center>