{% extends 'base/skeleton-app.html' %}
{% load static %}

<!-- BODY  -->
{% block body %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">List Orders</h5>
                <!--end::Page Title-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->

    <div class="row">
        <div class="col-md-12">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Example-->
                    <div class="example mb-10">
                        <div class="example-preview">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Buyer</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Price</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{order.buyer.first_name}}</td>
                                        <td>{{order.product.product_name}}</td>
                                        <td>{{order.product.product_price}}</td>
                                        <td>
                                            <a title="Create Consignment"
                                                href="{% url 'account:order-consignment' order.id %}">Consignment </a> |
                                            <a title="Generate Shipment"
                                                href="javascript:GenerateShipment({{order.id}},{{order.product.product_price}},'{{order.product.product_name}}', '{{order.qr_code}}', '{{order.invoice_number}}');">Generate
                                                Shipment</a> |
                                            <a title="View Map"
                                                href="{% url 'account:order-map-view' order.id %}">View Map</a> |
                                            <a href="javascript:DownloadInvoice('{{order.invoice_number}}','{{order.xero_Invoice_id}}')">Download Invoice</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <td colspan="4"> No order.</td>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--end::Example-->

                </div>
            </div>
        </div>
    </div>
</div>

<div id="loaderModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="popup-close">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h1 class="modal-title">Please wait ....</h1>
                <img src="{% static 'borntotrack/images/loader.gif' %}" style="width: 250px;">
                <p id="errorMsg">
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    function GenerateShipment(order_id, order_price, product_name, qr_code, invoice_number) {

        var qr_code_path = "http://52.66.73.23/media/" + qr_code;
        
        data={
                "contactInfo":{
                    "EmailAddress":"phil@saavi.com",
                    "ContactCODE":"",
                    "contactName":"Phil",
                    "firstName":"Phil",
                    "lastName":"Talbot",
                    "contactAddress1":"1 Beach St",
                    "contactAddress2":"Fremantle WA 6160",
                    "contactSuburb":"Fremantle",
                    "contactPostCode":"6160",
                    "contactCity":"Fremantle",
                    "contactCountry":"Australia",
                    "customerId":123,
                    "customerCode":"",
                    "contactNumber":9463014884
                },
                "lineItemInfo":[
                    {
                        "itemCode":3150,
                        "itemDescription":product_name,
                        "itemQuantity":1,
                        "itemUnitAmount":order_price,
                        "itemTaxAmount":0,
                        "itemDiscountAmount":1,
                        "accountCode":"",
                        "discountAmount":0,
                        "lineAmount":order_price,
                        "taxType":"",
                        "discountRate":0
                    }
                ],
                "CartId":12,
                "QrCodePath":"http://3.21.249.197/img.png",
                //"QrCodePath":qr_code_path,
                "Orderdate":""
            }

            //if(invoice_number=='None'){
                $("#loaderModal").modal("show");
                $.ajax({
                        type: "POST",
                        url: "https://xero.saavi.com.au/InvoiceSync/CreateInvoice",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log(data);
                            UpdateOrderInfo(data.invoiceNumber,data.xeroInvoiceId,data.xeroContactId,order_id);
                            $("#loaderModal").modal("hide");
                        },
                        error: function (error) {
                            console.log(error)
                            $("#loaderModal").modal("hide");
                        }
                });
            // }
            // else{
            //     console.log("Invoice already created.")
            // }
    }

    function UpdateOrderInfo(invoiceNumber,xeroInvoiceId,xeroContactId,order_id)
    {
        url = "{% url 'api:account:update-order' %}"
        data = {
                    'order_id':order_id,
                    'invoice_number': invoiceNumber,
                    'xero_Invoice_id': xeroInvoiceId,
                    'xero_contact_id': xeroContactId,
                }
        $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    window.location.href="{% url 'account:order-list' %}"
                },
                error: function (error) {
                   console.log(error);
                }
            });
    }

    function DownloadInvoice(invoice_number, xero_Invoice_id) {


        if(invoice_number!=''){
            data = {
                'cartId': 12,
                'invoiceNumber': invoice_number,
                'xeroInvoiceId': xero_Invoice_id,
            }
            $("#loaderModal").modal("show");
            $.ajax({
                        type: "POST",
                        url: "https://xero.saavi.com.au/InvoiceSync/GetInvoiceShippingPdf",
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#loaderModal").modal("hide");
                            window.location.href=data.pdfInvoicePath
                        },
                        error: function (error) {
                            console.log(error)
                            $("#loaderModal").modal("hide");
                        }
                });
        }
    }
</script>

<!--end::Content-->
{% endblock body %}
<!-- //BODY  -->